/* === Google Font Import === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-clr : #FFFFFF;
    --secondary-clr : #474554;
    --main-clr : #E3E0F3;
    --border-clr : #C6C6C6;
    --highlight-clr: #8083FF;
    --highlight-clr2 : #E3E0F3;
    --toggle-clr : #474554;
    --text-clr : #000000;
    --text-clr2 : #fff;
    --text-highlight-clr : #fff;
    --header-clr : #8685EF;
    --link-clr : #8685EF;
    --warn-clr : #FF4C4C;
    --scroll-track-clr : #c370ec;
    --scroll-thumb-clr : #a70df5;
    /* === admin-site === */
    --event-list-clr: #d0c4d9;
    --event-list-clr2: #caabe2;
    --inactive-clr : #8B8B8B;
    --mark-clr : #7a07d1;
    --list-clr : #af38eb;
    --gradient-clr : linear-gradient(90deg,
    rgba(206, 107, 255,1) 20.541885643959553%,
    rgba(206, 107, 255,1) 25.229411630188928%,
    rgba(191, 168, 214,1) 80.54221826769557%);
    /* === Index === */
    --input-form-clr : #dfdfdf;

    /* === Profile === */
    --box-clr : #fff;
    --ptext-clr : #1B00FF;
    --pinactive-clr: #797979;
    /*--schedule-color:#ced2ee;
    --month-year-color: rgb(169, 250, 223);
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
.gradient-text:root{
    background: linear-gradient(90deg, rgba(243, 72, 104,1) 20.25%,
    rgba(242, 71, 104,1) 20.25%,rgba(158, 0, 236,1) 80.25%);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    filter: brightness(200%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
