body{
    min-height: 100vh;
    background-color: var(--primary-clr);
    color: var(--text-clr);
}

body.dark{
    /* ===== Colors ===== */
    --primary-clr : #23242a;
    --secondary-clr : #4c4e55;
    --main-clr : #383a3f;;
    --border-clr : #9B9CA1;
    --highlight-clr: #b3b3bd;
    --highlight-clr2 : #E3E0F3;
    --toggle-clr : #DEF5F6;
    --text-clr : #ffffff;
    --text-highlight-clr : #000000;
    --header-clr : #656583;
    --gradient : #5c3b7e;
    --scroll-track-clr : #4f4cfa;
    --scroll-thumb-clr : #0a06ff;
    /* === admin-site === */
    --event-list-clr: #3e4357;
    --event-list-clr2: #343b4a;
    --inactive-clr : #8B8B8B;
    --mark-clr : #0a06ff;
    --list-clr : #af38eb;
    --gradient-clr :linear-gradient(113.03175635263142deg, rgba(1, 96, 186,1) 4.980042575838212%,rgba(0, 0, 0,1) 97.74215007982968%);
    /* === Transition Delay === */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

.nav{
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 0px;
    background-color: var(--primary-clr);
    transition: var(--tran-05);
    z-index: 1;
}

.nav.close{
    width: 73px;
}

.nav .logo{
    display: flex;
    align-items: center;
}
.nav .logo .logo-image{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    min-width: 45px;
}
.nav .logo .logo-image img{
    width: 60px;
    object-fit: cover;
}
.nav .logo .logo-name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-clr);
    margin-left: 14px;
}

.nav .logo .close-btn{  
    position: absolute;
    right: 0;
    transform: translateX(50%);
    background-color: var(--highlight-clr);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    cursor: pointer;
}
.nav .logo .close-btn i{
    font-weight: 600;
    font-size: 24px;
}
.close-btn i.closed{
    transform: rotate(180deg);
}

.menu{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu .menu-1 .menu-items,
.menu .menu-2 .menu-items{
    padding-left: 10px;
    height: 50px;
    display: flex;
    align-items: center;

}
.menu .menu-1 .menu-items:hover,
.menu .menu-2 .menu-items:hover{
    background-color: var(--main-clr);
}
.menu .menu-1 .selected{
    background-color: var(--main-clr);
}
.menu .menu-1 .menu-items a,
.menu .menu-2 .menu-items a{
    color: var(--black-white);
    text-decoration: none;
    display: flex;
    font-size: 20px;
}
.nav.close .menu-items a p,
.nav.close .logo .logo-name{
    opacity: 0;
    pointer-events: none;
}

.menu .menu-1 .menu-items i,
.menu .menu-2 .menu-items i{
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.menu-2 .mode{
    display: flex;
    align-items: center;
}
.menu-2 .mode-toggle{
    display: flex;
    position: absolute;
    right: 14px;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    border-radius: 25px;
    background-color: var(--toggle-clr);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--main-clr);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.content{
    position: relative;
    left: 250px;
    background-color: var(--main-clr);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    transition: var(--tran-05);
}

.nav.close ~ .content{
    left: 73px;
    width: calc(100% - 73px);
}

.content .contain{
    background-color: var(--secondary-clr);
    height: 80vh;
    margin-top: 10vh;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.contain .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    height: 100%;
}
.contain .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    border-radius: 20px;
}
.contain .left .schedule{
    width: 100%;
    background-color: var(--main-clr);
    padding: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule .month-year{
    font-size: 18px;
    font-weight: 600;
    background-color: var(--header-clr);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    width: 100%;
    height: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.schedule .month-year i{
    font-size: 24px;
    font-weight: 600;

}
.schedule .month-year i:hover{
    cursor: pointer;
    font-size: 30px;
    color: var(--highlight-clr2);
}
.schedule .calendar{
    height: calc(100% - 50px);
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.calendar .weekdays{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.calendar .weekdays li{
    width: 14.28%;
    display: flex;
    justify-content: center;
}
.calendar .days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
}
.calendar .days .day{
    width: 14.28%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.calendar .days .day.active-day{
    background-color: var(--highlight-clr);
    color: var(--text-highlight-clr);
}
.calendar .days .day:not(.prev-day, .next-day):hover{
    background-color: var(--highlight-clr);
    color: var(--text-highlight-clr);
}
.day button{
    background: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: var(--text-clr);
    font-size: 15px;
    font-weight: 600;
}
.calendar .days .prev-day,
.calendar .days .next-day{
    color: var(--inactive-clr);
}
.contain .left .form-contain{
    flex: 1;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-contain .form-header{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--text-clr2);
}
.form-contain .schedule-form{
    flex: 1;
    background-color: #DDD;
    background-color: var(--main-clr);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}
.firstF.inactive{
    display: none;
    visibility: hidden;
}
.secondF.inactive{
    display: none;
    visibility: hidden;
}
.form-contain .schedule-form .input-form{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% / 6);
    width: 100%;
}
.schedule-form .input-form input,
.schedule-form .input-form select{
    height: 30px;
    width: 90%;
}
.input-form .number{
    display: flex;
    justify-content: space-between;
}
.schedule-form .input-form input[type="number"]{
    width: 48%;
}
.schedule-form input[type="number"]::-webkit-inner-spin-button, 
.input-form input[type="number"]::-webkit-outer-spin-button {  
   opacity: 1;
}
.right .event-header{
    background-color: var(--header-clr);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 20px 20px 0px 0px;
}
.right .event-list{
    height: calc(90% - 50px);
    background-color: #878895;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
.event-list .event-item{
    width: 100%;
    position: relative; 
    display: flex;
    justify-content: center;
    min-height: 100px;
    padding-left: 70px;
}
.event-item .x{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1.2;
}
.event-title, .event-time{
    width: 70%;
}
.event-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-time .d-time,
.event-time .arrow,
.event-time .a-time {
    flex: 1;
}

.event-time .d-time,
.event-time .a-time {
    text-align: center;
}
  
.event-item .price{
    width: 30%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.event-list .event-item:nth-child(odd){
    background-color: var(--event-list-clr);
}
.event-list .event-item:nth-child(even){
    background-color: var(--event-list-clr2);
}
.event-list .event-item:hover{
    cursor: pointer;
    background: var(--gradient-clr);
}
.event-list .event-item::before{
    content: "✦";
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--list-clr);
    transform: translateY(-50%);
}
.event-list .event-item::after{
    content: "✓";
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 42px;
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--mark-clr);
    transform: translateY(-50%);
}
.event-list .event-item:hover::after{
    display: flex;
}

/* === CUSTOM SCROLL BAR === */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--scroll-track-clr);
}
::-webkit-scrollbar-thumb{
    background: var(--scroll-thumb-clr);
}