*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/bg.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.header{
    width: 100%;
    float: left;
    background-color: rgba(51,51,51,0.8);
    height: 70px;
}

li{
    opacity: 1;
    padding-top: 15px;
    display: inline-block;
}

li a{
    color: lightblue;
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
    padding: 5px 20px;
    margin-top: 20px;
}

li a:hover{
    color: lightblue;
    text-shadow: 0 0 10px lightblue,
                 0 0 20px lightblue,
                 0 0 40px lightblue,
                 0 0 80px lightblue,
                 0 0 120px lightblue,
                 0 0 160px lightblue;
}

.gradient{
    background: linear-gradient(90deg, rgba(243, 72, 104,1) 20.25%,
    rgba(242, 71, 104,1) 20.25%,rgba(158, 0, 236,1) 80.25%);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    filter: brightness(200%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo{
    padding: 0px 50px;
}
.logo img{
    width: 150px;
    float: left;
    height: 70px;
}
.header .login{
    padding-left: 90vh;
}
.welcome-text, .orderBox{
    z-index: 0;
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 32%;
    text-align: center;
}
.welcome-text h1{
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 60px;
}
.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
.welcome-text a:hover{
    background: #fff;
    color: #333;
}