h2{
    text-align: center;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}
.wrapper{
    margin: 170px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.wrapper h2{
    margin-top: 0;
    color: #333;
}
.wrapper .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.wrapper .content{
    max-height: 30%;
    overflow: auto;
}

.container{
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 20px 0;
}

form label{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

input[type=text], textarea, input[type=password], input[type=number]{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"]{
    background-color: #413b3b;
    color: #fff;
    padding: 15px 59px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-style: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

