* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  }
  
  body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  background: linear-gradient(88.33379789288279deg, rgba(155, 173, 199,1) 4.375886996629413%,rgba(81, 119, 149,1) 100.02927088877063%);
  }
  .container {
  position: relative;
  width: 1200px;
  min-height: 850px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
  background-color: #373c4f;
  }
  .formcontainer{
    margin: 0 auto;
    width: 300px;
    background-color: #373c4f;
    border-radius: 10px;
    padding: 30px 5px;
  }
  .formcontainer .text{
    color: white;
    font-style: 35px;
    font-weight: 600;
    text-align: center;
  }
  .formcontainer .inputlist{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
  }
  .formcontainer form .inputchange{
    padding: 10px;
  }
  form .inputchange input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    background:none;
    border: 2px solid silver;
    cursor: pointer;
    -webkit-transition: 500ms;
    transition: 500ms;
    outline: none;
  }
  form .inputchange input:last-child{
    margin-bottom: 10px;
  }
  form .inputchange input:focus{
    border: 2px solid #3498db;
    border-bottom-width: 2px;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    background: linear-gradient(91.61669829511243deg, 
    rgba(49, 195, 212,0.5) 2.5469207357637043%,
    rgba(49, 195, 212,1) 24.710680582812223%,
    rgba(49, 195, 212,1) 48.815046130754396%,
    rgba(49, 195, 212,1) 73.73650881591495%,
    rgba(49, 195, 212,0.5) 100.59857720196912%);
    border:none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
  }
  
  .left {
  width: 60%;
  padding: 20px;
  }
  .calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  background-color: #fff;
  }
  /* set after behind the main element */
  .calendar::before,
  .calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #d3d4d6d7;
  transform: translateY(-50%);
  }
  .calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
  }
  .calendar .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  }
  
  .calendar .month button.hide{
    background: none;
    border: none;
  }
  .calendar .month .prev:hover,
  .calendar .month .next:hover {
  cursor: pointer;
  color: blue;
  font-size: 30px;
  font-weight: bolder;
  }
  
  .calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  }
  
  .weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
  }
  .calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #878895;
  }
  
  .SPxY{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #fff;
    border: none;
  }
  .SPxY:hover{
    background-color: aqua;
  }
  
  .calendar .days .prev-date,
  .calendar .days .next-date {
  color: #b3b3b3;
  }
    
  .calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  }
  
  .calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #23b5de;
  }
  
  .calendar .goto-today .goto input{
  width: 75%;
  height: 30px; 
  border: none;
  padding: 0 20px;
  cursor: pointer;
  color: #23b5de;
  border-radius: 5px;
  }
  
  .calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid #23b5de;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: #23b5de;
  }
  .calendar .goto-today button:hover {
  color: #fff;
  background-color: #23b5de;
  }
  .calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid #23b5de;
  border-radius: 0;
  }
  .container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
  }
  
  .right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
  }
  .right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
  }
  .right .today-date .event-date {
  font-size: 1rem;
  font-weight: 400;
  color: #878895;
  }
  .events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  }
  .events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #fff;
  background: linear-gradient(90deg, #3f4458, transparent);
  cursor: pointer;
  }
  /* event */
  .events .event:nth-child(even) {
  background: linear-gradient(90deg, #373c4f, transparent);
  }
  .events .event:hover {
  background: linear-gradient(90deg, #23b5de, transparent);
  }
  .events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
  }
  .events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
  }
  .events .event i {
  color: #23b5de;
  font-size: 0.5rem;
  }
  .events .event:hover i {
  color: #fff;
  }
  .events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #878895;
  margin-left: 15px;
  pointer-events: none;
  }
  .events .event:hover .event-time {
  color: #fff;
  }
  /* add tick in event after */
  .events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: #23b5de;
  transform: translateY(-50%);
  }
  .events .event:hover::after {
  display: flex;
  }
  