/* === Google Font Import === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.gradient-text{
    background: linear-gradient(90deg, rgba(243, 72, 104,1) 20.25%,
    rgba(242, 71, 104,1) 20.25%,rgba(158, 0, 236,1) 80.25%);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    filter: brightness(200%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.index{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/index_background.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav{
    position: relative;
    width: 100%;
    float: left;
    height: 70px;
    background-color: rgba(51,51,51,0.8);
    padding-top: 8px;
}
.nav .logo-img img{
    margin-left: 2%;
    width: 80px;
    float: left;
    display: flex;
}
.nav .menu-link{
    position: relative;
    margin: 0;
    padding-top: 8px;
}
.nav .menu-link .left{
    float: left;
}
.nav .menu-link .right{
    padding: 0 15px;
    float: right;
}
.nav .menu-link .right:nth-child(5){
    margin-right: 10%;
}
.nav .menu-link li{
    list-style: none;
    display: inline-block;
    margin: 0;
}
.nav .menu-link li .nav-item{
    font-size: 24px;
    text-decoration: none;
    padding: 0 15px;
}
.nav .menu-link li .nav-item:hover{
    color: var(--highlight-clr);
    text-shadow: 0 0 10px var(--highlight-clr),
                 0 0 20px var(--highlight-clr),
                 0 0 40px var(--highlight-clr),
                 0 0 80px var(--highlight-clr),
                 0 0 120px var(--highlight-clr),
                 0 0 160px var(--highlight-clr);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    visibility: hidden;
    transition: opacity 500ms;
    opacity: 0;
    z-index: 1;
}

.overlay.active{
    opacity: 1;
    visibility: visible;
}
.form-wrap{
    margin: 170px auto;
    padding: 10px 30px;
    background-color: var(--primary-clr);
    width: 25%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--primary-clr);
    display: flex;
}


.form-wrap .register.inactive{
    display: none;
}
.form-wrap .login.inactive{
    display: none;
}

.form-wrap .close-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    background: var(--highlight-clr);
    font-size: 32px;
    color: var(--text-clr2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0px 20px;
    cursor: pointer;
}
.form-wrap h2{
    font-size: 24px;
    padding-top: 46px;
    width: calc(100%-30px);
    color: var(--text-clr);
    text-align: center;
}
.form-wrap form{
    padding-top: 20px;
    margin-top: 10px;
    width: 100%;
}
.form-wrap .errorMsg{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    color: var(--warn-clr);
    font-weight: 600;
}
.form-wrap form label{
    font-weight: 500;
    letter-spacing: 3px;
}
.form-wrap form input{
    width: 100%;
    padding: 12px;
    background-color: var();
    border: none;
    background-color: var(--input-form-clr);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline-color: var(--highlight-clr);
    font-size: 16px;
}
.form-wrap form input[type = "submit"]{
    background-color: var(--highlight-clr);
    color: var(--text-clr2);
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    border: none;
}
.form-wrap .pass-reg-link{
    display: flex;
    min-width: 100%;
    padding-bottom: 20px;
    justify-content: space-between;
}
.form-wrap .alr-have-acc{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.alr-have-acc p{
    padding-right: 2px;
}

.pass-reg-link .register-link a,
.pass-reg-link .forgot-pass a,
.alr-have-acc a{
    text-decoration: none;
    color: var(--link-clr);
}