*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.cwrap{
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: #373c4f;
}

.contain{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;
    align-items: center;
}

.contain .header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid red;
}
.header .city,
.header .date
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 80%;
    width: 40%;
    border: 2px solid red;
}
.city .from,
.city .to{
    width: 50%;
    height: 100%;
}
.contain .days{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid red;
}

.days .day{
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain .ticket{
    margin-top: 20px;
    border: 2px solid red;
    width: 100%;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}